@font-face {
  font-family: "Bombardier";
  src:
    local("Bombardier"),
    url("../Bombardier.otf") format("opentype");
}

body, html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background-color: black;
}

.container {
  width:fit-content;
  visibility: visible;
  opacity: 1;
  overflow: hidden;
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
}
table {
  background: black !important;
  color: white;
  text-align: center;
  empty-cells: show;
  padding: 4px;
  border: 4px solid white;
  border-collapse: collapse;
  margin-bottom: 10px;
  min-width: 1500px;
  margin-left: 10px;
}
th {
  text-transform: uppercase;
  padding: 12px;
  font-family: "Bombardier", sans-serif;
  font-size: 20px;
  background-color: black;
}

.leaderboardDescription {
  color: white;
  text-align: left;
  text-transform:uppercase;
  font-size: 30px;
  font-family: "Bombardier", sans-serif;
  padding: 9px;
}
td {
  padding: 4px;
  white-space: nowrap;
  border: 1px solid;
}

.Lifter {
  word-wrap: break-word;
  width: 50rem;
}

tr:nth-child(odd) {
  background-color: rgb(34, 33, 33);
}

.logo {
  height: 40px;
}

.descriptionContainer{
  width:fit-content;
  display: flex;
  align-items: stretch;
  padding: 4px;
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: black;
  border: 4px solid white;
  border-collapse: collapse;
  margin-left: 10px;

}

.goodLift {
  background-color: green;
}
.badLift {
  background-color: red;
}
